<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>

  <body>
	 
    <div class="container" id="movie-single-main-container">
      <!-- Static navbar -->
      <% include partials/navbar.ejs %>

      <% for (var i = 0; i < movies.length; i++) { %>
        <% if (movies[i].title == movie_title ) { %>

          <div class="jumbotron" id="movie-single-main-poster" style="background-image: url('/images/movie-single-posters/<%= movies[i].single_poster %>')">
          </div>

          <div id="movie-single-container">
            <div class="row">
              <div class="col-sm-4" id="movie-single-poster-container">
                <img src="/images/posters/<%= movies[i].poster %>" alt="movie poster" class="img-responsive">
              </div>
              <div class="col-sm-8" id="movie-single-details-container">
                <h1 class="text-center" id="movie-single-details-heading">DETAILS</h1>
                <div id="movie-single-details">
                  <p><b>Duration:</b> <%= movies[i].duration %></p>
                  <p><b>Rated:</b> <%= movies[i].rating %></p>
                  <p><b>Genre:</b> <%= movies[i].genre %></p>
                  <p><b>Language:</b> <%= movies[i].lang %></p>
                  <p><b>Opening:</b> <%= movies[i].opening %></p>
                </div>
              </div>
            </div>

            <hr>

            <div id="movie-single-synopsis-container">
              <h1 class="text-center" id="movie-single-synopsis-heading">SYNOPSIS</h1> <br>
              <p><%= movies[i].synopsis %></p>
            </div>
          </div>

        <% } %>
      <% } %>

      <% include partials/footer.ejs %>

    </div> <!-- /container -->
    
    <% include partials/scripts.ejs %>

  </body>
</html>
